# Java / Maven
target/
*.class
*.jar
*.war

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform-azure/.terraform/
terraform-azure/.terraform.lock.hcl
terraform-azure/terraform.tfstate
terraform-azure/terraform.tfstate.backup
terraform-azure/terraform.tfvars
.env

# CDK
cdk/cdk.out/
cdk/target/